* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex; // Por padrão, os itens do container ficam um ao lado do outro
    //justify-content: space-between; //Alinha o primeiro item no começo, o último no final e os outros separados igualmente.
    justify-content: space-around; //alinha os itens na horizontal
    align-items: center; //alinha os itens na vertical

    border: solid green 5px;


    nav {
        height: 10vh;
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            color: #4B5563;
            text-decoration: none;
            font-size: 1.2rem;
        }

    }
}

.btnVerde {
    background-color: #16a34a;
    padding: 20px;
    border-radius: 6px;
    color: #ffffff;
}

.caixaLogo {
        display: flex;
       justify-content: space-between;
       align-items: center;
       width: 12%;

       h1 {
        color: #1f2937;
        font-size: 2rem;
       }
}

.apresentacao {
    height: 70vh;
    border: solid red;
    display: flex;
    justify-content: space-around;

    section {
        border: solid aqua;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h2 {
            font-size: 3.75rem;
            border: solid black;
            width: 60%;
        }

        p {
            font-size: 1.25rem;
            width: 50%;
        }
    }
}

  .buttonsapresentação {
    border: solid;
    width: 40%;
    display: flex;
    justify-content: space-between;

    button {
        padding: 30px 40px;
        cursor: pointer;
        background-color: #16a34a;
        color: #ffffff;
    }
}

.produtosDisponíveis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;

    article {
        border: solid #16a34a;
        width: 18%;
        height: 60vh;
        display: flex;
        // flex-direction: row; //por padrão ao aplicar o display flex, a direção é em linha (row)
        flex-direction: column; //muda a direção de linha para coluna
        justify-content: space-between;
        align-items: center;

        img {
            width: 100%;
        }

        p {
            text-align: center;
            width: 90%;
        }

        button {
            margin-bottom: 2rem;
            padding: 1rem;
        }
    }
}

//Quero que você aplique esse estilo em telas de 0px até 768 px
@media(max-width: 768px) {
    
    header {
        height: 20vh;
        flex-direction: column;

        nav {
            width: 90%;

            a {
                font-size: 1rem;
            }
        }
    }

.caixaLogo {
    width: 50%; 

    h1 {
        font-size: 2rem;
    }
}

.apresentacao {
     flex-direction: column;
     align-items: center;
     text-align: center;

     img {
        width: 50vw;
     }
    section {
       height: 50vh;

       h2 {
        font-size: 1.5rem;
        width: 100%
        } 

        p {
          width: 100%;
        }
    }
    
}

.buttonsapresentação {
    width: 100%;
    justify-content: space-evenly;

    button {
        padding: 10px 20px;
    }
}



}

@media screen and (max-width: 768px) {
    .produtosDisponíveis {
        flex-direction: column;

        article {
            width: 50%;
        }
    }
}